:root {
    --roboto: 'Roboto';    
    --magenta: #fd0037;
    --darkgray: #23252a;
    --lightgray: #555555; /* #4f545f; */
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: var(--roboto);
    scroll-behavior: smooth;
}

/* ** ** HOME ** ** */
/* navbar */
.navbar {
    background-color: white;
    position: fixed;
    width: inherit;
    padding: 20px 200px 30px 200px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s ease-out;
}

.navbar-scroll {
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.1);
    opacity: 0.95;
    top: -5px;
    padding: 0 200px 0 200px;
}

.navlogo {
    display: inline-block;
    position: relative;
    top: -20px;
    box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.5);
    width: 60px;
    height: 150px;
    background-color: black;
    transition: top 0.2s ease-out;
}

.navlogo-scroll {
    top: -30px;
}

.navlogo img {
    display: block;
}

.navbar-link, .search {
    font-family: var(--roboto);
    font-weight: 300;
    letter-spacing: 4px;
    font-size: 12pt;
    color: var(--darkgray);
    text-decoration: none;
    margin: 0 1vw;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.2s ease-out;
}

.navbar-link:hover {
    opacity: 0.5;
    transform: translateX(2px) translateY(2px);
}

.search-bar {
    padding: 10px 30px;
    border: 1px solid #cccccc;
    background-color: white;
}

.search-bar::placeholder {
    font-family: var(--roboto);
    font-weight: 300;
    text-transform: uppercase;
    color: #cccccc;
}

.search-bar:hover {
    cursor: not-allowed;
}

.search {
    font-size: 12pt;
    color: #cccccc;
    position: relative;
    top: 1px;
    left: -8px;
}

.search:hover {
    cursor: not-allowed;
}

/* languages */
.languages-dropdown {
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 3px;
    /* border: 1px solid salmon; */
}

.active-language {
    transition: 0.2s ease-out;
}

.active-language:hover {
    opacity: 0.5;
}

.active-language .lnr {
    /* border: 1px solid green; */
    position: absolute;
    top: 3px;
    left: 55px;
    font-size: 10pt;
}

.languages-content {
    display: none;
    position: absolute; /* for fixed position */
    top: 30px;
    transition: 0.2s ease-out;
    color: black;
    background-color: rgba(255, 255, 255, 0.9);    
    padding: 0 15px;
}

.languages-show {
    display: flex;
    flex-direction: column;
}

.rotate-180 {
    transform: rotate(180deg);
    transition: 0.2s ease-out;
}

.rotate-0 {
    transform: rotate(0deg);
    transition: 0.2s ease-out;
}

.single-language {
    display: flex;
    padding: 15px;
    font-size: 11pt;
    text-decoration: none;
    color: #777777;
    font-weight: 300;
    transition: 0.2s ease-out;
}

.single-language:hover {
    opacity: 0.5;
}

.languages-content > :first-child, .languages-content > :nth-child(2) {
    border-bottom: 1px solid #cccccc;
}

.single-language img {
    padding-right: 10px;
}

.single-language .lnr {
    font-size: 7pt;
    padding-right: 7px;
    position: relative;
    top: 3px;
}
/* end of languages */
/* end of navbar */

.home {
    width: inherit;
    /* height: inherit; */
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home-bg {
    width: 100%;
    display: inline-block;
}

.home-bg img {
    display: block;
    /* opacity: 0.5; */
    /* filter: grayscale(1); */
    /* filter: contrast(1.1); */
    transition: 0.2s ease-out;
    max-width: 100%;
}

.home-content {
    position: absolute;
    top: 420px;
    left: 220px;
    z-index: 10;
}

.name, .profession {
    font-size: 14pt;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--darkgray);
    /* color: black; */
}

.name {
    font-size: 18pt;
}

.name b {
    font-weight: 400;
}

.name-move-y {
    animation-name: name-move-y;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0);
}

@keyframes name-move-y {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    50% {
        transform: translateY(-20px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.profession-move-y {
    animation-name: profession-move-y;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0);
}

@keyframes profession-move-y {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    50% {
        transform: translateY(20px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.letter-spacing {
    animation-name: letter-spacing;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0);
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
}

@keyframes letter-spacing {
    0% {
        letter-spacing: 4px;
    }
    100% {
        letter-spacing: 5px;
    }
}
/* ** ** END OF HOME ** ** */

/* ** ** ABOUT ** ** */
.about {
    width: inherit;
    /* height: inherit; */
    background-color: white;
    color: var(--darkgray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    /* border: 1px solid cyan; */
}

.about-content {
    display: flex;
    justify-content: center;
    /* margin: 10px 0 70px 0; */
    margin: 30px 0 100px 0; /* repeat */
}

.welcome {
    width: 30%;
    font-size: 30pt;
    font-weight: 200;
    font-style: italic;
    /* color: #97c0b0; */
    /* border: 1px solid salmon; */
    margin: 20px 0;
}

.korean {
    font-family: 'Gothic A1';
    font-weight: 100;
}

.japanese {
    font-family: 'Noto Serif JP';
    font-weight: 100;
}

.info {
    width: 30%;
    font-size: 14pt;
    color: #777777;
    font-weight: 300;
    line-height: 1.6;
    /* border: 1px solid crimson; */
}

.title {
    font-size: 24pt;
    color: #cccccc;
    font-weight: 300;
}

#home-title {
    /* color: #777777; */
    color: var(--darkgray);
    font-weight: 200;
    font-size: 32pt;
    text-transform: uppercase;
    margin: 20px 0 10px 0;
}

.paragraph {
    margin: 10px 0;
}

.paragraph b {
    font-weight: 400;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

.fade-out {
    animation-name: fade-out;
    animation-duration: 1s;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.1;
    }
}

.skills {
    display: flex;
    flex-direction: column;
    width: inherit;
    background-color: #222222;
    /* background-color: var(--darkgray); */
    color: white;
}

.skills-row {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #333333;
}

.skill-type, .skill-description {
    width: 30%;
    margin: 50px 0;
}

.skill-type {
    /* border: 1px solid cyan; */
    padding-right: 70px;
}

.skill-type {
    font-size: 16pt;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
}

.skill-description ul {
    list-style: none;
}

.skill-description li {
    font-weight: 300;
    line-height: 2;
}

.list-link {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: 0.2s ease-out;
}

.list-link:hover {
    transform: translate(10px);
}
/* ** ** END OF ABOUT ** ** */

/* ** ** PROJECTS ** ** */
.projects {
    width: inherit;
    height: inherit;
    background-color: white;
    color: var(--darkgray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid cyan;
}

.tiles {
    width: 70%;
    /* border: 1px solid salmon; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#projects-title {
    color: var(--darkgray);
    font-weight: 200;
    font-size: 32pt;
    text-transform: uppercase;
    margin-bottom: 10px;
    /* margin-bottom: 30px; */
    width: 70%;
}

#project-details, #subtitle {
    margin-bottom: 30px;
    width: 70%;
}

#project-details {
    font-weight: 200;
}

#subtitle {
    font-size: 12pt;
}

.tiles-row {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    /* border: 1px solid slateblue; */
}

.single-tile {
    width: 80px;
    height: 80px;
    margin: 10px;
    padding: 17px;
    filter: grayscale(1);
    opacity: 0.25; /* 0.5 */
    border: 1px solid #cccccc;
    transition: 0.2s ease-out;
}

.single-tile-active {
    filter: grayscale(0);
    opacity: 1;
    border: 1px solid white;
    /* box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.5); */
    /* box-shadow: 4px 4px 2px -2px rgba(0, 0, 0, 0.5); */
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}

.single-tile:hover {
    filter: grayscale(0);
    opacity: 1;
    cursor: pointer;
}

.single-tile-blink {
    opacity: 0.7;
}

.single-tile img {
    display: block;
    max-width: 100%;
}

.project-details {
    width: 60%;
    font-size: 14pt;
    color: #777777;
    font-weight: 300;
    line-height: 1.6;
    /* border: 1px solid crimson; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* single project - ctrl - v */
.single-project {
    font-size: 12pt;
    display: flex;
    position: relative;
    /* margin: 40px 50px 70px 50px; */
    /* border: 1px solid cyan; */
}

#left-arrow, #right-arrow {
    color: black;
    cursor: pointer;
    margin: 70px;
    /**/    
    text-decoration: none;    
    font-size: 16pt;
    transition: 0.5s ease-out;
}

#left-arrow:hover, #right-arrow:hover {
    opacity: 0.8;
}

.active {
    display: flex;
}

.hidden {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: 0.4
    }

    to {
        opacity: 1
    }
}

.single-project-img {
    position: relative;
}

.single-project-img span {
    display: none;
}

.single-project-img:hover span {
    display: block;    
    padding: 5px 20px;
    background-color: rgba(15, 15, 15, 0.5);
    z-index: 1;
    position: absolute;
    left: 20px;
    top: 20px;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    font-weight: 400;
}

.single-project-description {
    width: 300px;
    height: 300px;
    color: black;
    background-color: white;
    padding: 15px 20px 25px 20px;
    font-weight: 300;
    position: relative;
    /* border: 1px solid green; */
}

.single-project-description .lnr {
    margin-right: 5px;
}

.single-project-description .lnr-code {
    display: inline-block;
    position: relative;
    top: 2px;
    font-size: 14pt;
}

.react-icon, .jquery-icon {
    position: absolute;
    top: 15px;
    right: 15px;
}

.single-project-title {
    padding: 5px 5px 20px 5px;
    font-size: 12pt;
    font-weight: 400;
    text-transform: uppercase;
    /* border: 1px solid salmon; */
}

.single-project-languages {
    padding: 5px 5px 20px 5px;
    /* border: 1px solid red; */
}

.single-project-languages ul {
    list-style: none;
    margin-top: 10px;
    margin-left: 5px;
}

.single-project-languages li {
    /* border: 1px solid yellow; */
    padding: 0 7px;
    margin: 4px 0;
}

#html {
    border-left: 4px solid #e34c26;
}

#css {
    border-left: 4px solid #563d7c;
}

#javascript {
    border-left: 4px solid #f1e05a;
}

.single-project-info {
    line-height: 1.6;
}

.single-project-info a {
    margin: 2px 0;
    display: inline-block;
    color: black;
    text-decoration: none;
}

.single-project-info a:hover {
    opacity: 0.8;
}
/* end of ctrl-v */
/* ** ** END OF PROJECTS ** ** */

/* ** ** CONTACTS ** ** */
.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
    background-color: #222222;
    color: white;
    position: relative;
    /* border-top: 1px solid lime; */
}

#contacts-title {
    position: relative;
    top: -50px;
    color: var(--lightgray);
    /* color: #444444; */
    font-weight: 200;
    font-size: 32pt;
    text-transform: uppercase;
}

.contact-form {
    display: flex;
    flex-direction: column;
    /* border: 1px solid limegreen; */
    width: 30%;
}

.input-div {
    position: relative;
}

.input-div span {
    position: absolute;
    left: 25px;
    top: 20px;
    font-size: 12pt;
    color: var(--lightgray);
    transition: 0.2s ease-out;
}

.contact-form input, .contact-form textarea {
    margin: 10px;
    padding: 10px 40px;
    border: 1px solid #333333;
    background-color: transparent;
    width: 100%;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    font-size: 10pt;
    font-family: var(--roboto), serif;
    transition: 0.2s ease-out;
}

.contact-form input:focus, .contact-form textarea:focus {
    outline: none;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    font-weight: 300;
    text-transform: uppercase;
    color: var(--lightgray);
    transition: 0.2s ease-out;
}

.contact-form input:focus::placeholder, .contact-form textarea:focus::placeholder {
    color: white;
}

.fa-color {
    color: crimson;
}

#submit {
    color: var(--lightgray);
}

#submit:hover {
    color: white;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    width: inherit;
    position: absolute;
    bottom: 20px;
    padding: 30px;
    border-top: 1px solid #333333;
}

.copyright {
    width: 35%;
    padding: 20px;
    font-size: 11pt;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--lightgray);
    letter-spacing: 2px;
}

.socials {
    width: 35%;
}

.contact-link {
    display: inline-block;
    padding: 20px;
    font-size: 11pt;
    text-transform: uppercase;
    font-weight: 300;
    transition: 0.2s ease-out;
    color: var(--lightgray);
    text-decoration: none;
    position: relative;
}

.contact-link:hover {
    /* transform: translate(10px); */
    /* transform: translateX(5px); */
    /* opacity: 0.5; */
    filter: brightness(1.5);
}

.phone {
    display: none;
}

.phone-show {
    position: absolute;
    top: -5px;
    left: 10px;
    display: inline-block;
    color: white;
}
/* ** ** END OF CONTACTS ** ** */

@media screen and (max-width: 600px) {
    .home-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}